  
        body {
            border: 1px dotted grey;
            margin:5px;
            background-image: url('byungsin.jpg');
            }
        h1 {
            border-bottom: 1px solid black;
            font-size: 50px;
            padding: 30px;
            text-align: center;
            margin: 0;
            }
        #grpr {
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
#grpr ol, p{
  background-color: white;
  }
        a {
            color: green;
            text-decoration-line: none;
        }
        #olgr {
            border-right: 1px solid black;
        }
        #olgr ol{
            font-size: 18px;
        }
        #magr {
            padding-left: 10px;
        
        }
        #kim {
            font-size: 5px;
        }
        @media (pointer:coarse) {
            h1 {
                display:block;
                font-size:40px;
                padding:10px;
            }
            #olgr {
                border-right: none;
            }
            #grpr {
                display:block;
            }
            #grpr ol{
                font-size:16px; 
                border-bottom: 1px black solid;
                padding-bottom: 15px;
            }
            #grpr img{
                width: 90%;
            }
        }
