
.whale {
    position: relative;
    display: none;
    margin-bottom: -54%;
}
.whbut {
    position: absolute;
    background-color: lightgray;
    margin-top: 60%;
    left: 35%;
    width: 30%;
    border: solid black;
    padding-bottom: 30%;
    border-radius: 50%;
    animation: whsm 7s infinite;
}
.status{
    text-align: center;
    position: absolute;
    padding: auto;
    width: 100%;
    height: 45%;
    overflow: hidden;
}
.heartfull {
    animation: beath 3.5s infinite;
    display: inline-block;
    width: 40%;
    height: auto;
}
.heart {
    animation: beath 3.5s infinite;
    position: absolute;
    width: 40%;
    left: 30%;
}
.hbut {
    position: absolute;
    width: 30%;
    left: 35%;
    border-radius: 50%;
    padding-bottom: 30%;
    opacity: 0;
}
.hgage {
    transition: 1.5s ease-in-out;
}
.dlph {
    position: absolute;
    width: 6%;
    margin-top: 30%;
    transform-origin: 30% -150%;
    animation: dlp1 5s infinite;
}
.dlbu {
    width: 100%;
    padding-bottom: 25%;
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 2;
}
.stone {
    position: relative;
    margin-bottom: -45.5%;
    opacity:  0.8;
    display: none;
    animation:  stonea 5s ;
}
.lbut {
    position: absolute;
    margin-top: -60%;
    padding-bottom: 80%;
    width: 50%;
    z-index: 2;
    opacity: 0;
    display: none;
}
.rbut {
    position: absolute;
    margin-top: -60%;
    padding-bottom: 80%;
    left: 50%;
    width: 50%;
    z-index: 2;
    opacity: 0;
    display: none;
}
.cbut {
    position: absolute;
    margin-top: -10%;
    padding-bottom: 30%;
    left: 25%;
    width: 50%;
    z-index: 3;
    opacity: 0;
    display: none;
}
.shph {
    position: absolute;
    width: 20%;
    left: 40%;
    margin-top: 16%; 
    animation: fadein 3s, shan 8s infinite;
    animation-fill-mode: forwards;
    z-index: 1;
}
.shef {
    position: absolute;
    margin-top: 12%;
    width: 8%;
    transition: 1.5s ease-out;
    animation: shatef 1s;
}
.shbut {
    position: absolute;
    margin-top: 16%;
    padding-bottom: 5%;
    left: 30%;
    width: 40%;
    z-index: 2;
    opacity: 0;
    display: none;
}
.sailbut {
    position: absolute;
    margin-top: 2%;
    padding-bottom: 14%;
    left: 42.5%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    display: none;
}
.krphf {
    position: absolute;
    width: 10%; 
    animation: krans 8s; 
}
.krphs {
    position: absolute;
    width: 10%; 
    animation: kranf 8s; 
}
.krbut {
    position: absolute;
    width: 10%; 
    margin-top: 2%;
    padding-bottom: 15%;
    opacity: 0;
    z-index: 2;
}
.siren {
    position: absolute;
    width: 35%; 
    left: 32.5%;
    opacity: 0;
    transition: 2s ease-out;
}
.siat {
    position: absolute;
    margin-top: 7%;
    width: 5%; 
    left: 47.5%;
    transition: 3.5s ease-out;
    animation: swing 1s infinite;
}
.sibo {
    position: absolute;
    width: 7%; 
    padding-bottom: 13%;
    margin-top: 45%;
    opacity: 0;
}